body{
    background-color: rgb(10, 22, 10);
}

.text{
    color: aquamarine;
}

.text h1{
    font-family: "Ranchers", sans-serif;
}

.text h2{
    font-family: "Ranchers", sans-serif;
}

/* unvisited link */
a:link {
    color: green;
}
  
/* visited link */
a:visited {
color: green;
}

/* mouse over link */
a:hover {
color: green;
}

/* selected link */
a:active {
color: green;
}